*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.header-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #333;
    color: #fff;
}
.logo-image{
    width: 150px;
    aspect-ratio: 1;
}
.nav-items-container{
    display: flex;
    border: 2px solid red;
    /* justify-content: space-evenly; */
    width: 50%;
    background-color: #333;

}
.nav-items{
    display: flex;
    align-items: right; 
   
}
.nav-sub-items{
    display: flex;
    list-style-type: none;
    margin-right: 40px;
}
.nav-sub-items a{
    text-decoration: none;
    color: #fff;
    font-size: 1.2rem;
}